@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal */
hr{
    border-top: 1px dashed #0307124D;
}
.raleway-extralight {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .raleway-light {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .raleway-medium {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .raleway-semibold {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .raleway-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .raleway-extrabold {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .raleway-black {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
 
  .raleway-extrabold-italic {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
  }


  .inter-extralight {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .inter-light {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-extrabold {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inter-black {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  /* position */
  .firstCard{
    position: relative;
    left: 15px;
  }
  .first-image{
    position: relative;
    top: -5px;
  }
  .secondCard{
    position: relative;
    left: -15px;
  }

  /* btn primary */
  .btn_primary{
    border: 2px solid greenyellow;
    height: 50px;
    width: 150px;
  }
  .btn_primary:hover{
    border: 2px solid blue;
  }

  /* btn_secondary */
  .btn_secondary{
    height: 50px;
    width: 170px;
    background-color: #1DD10026;
  }

  .destination{
    height: 30px;
    width: 210px;
    border: 2px solid red;
    border: none;
    background-color: #0307120D;
  }
  .user{
    position: relative;
    top: 115px;
  }
  .userStyle{
    border-bottom: 3px solid #1DD100;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .ticket_timing{
    border-top: 2px solid #1DD100;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 25px 110px 111px 111px 111px;
  }

  input{
    border: 2px solid #0307121A;
    height: 50px;
    width: 290px;
    border-radius: 10px;
  }





  @media screen and (max-width:576px){
    .user{
        position: relative;
        top: -20px;
      }
      .destination{
        height: 85px;
        width: 108px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 30px 83px 83px 83px 83px;
      }
      input{
        height: 50px;
        width: 360px;
      }
  }
  @media screen and (min-width:577px) and (max-width:896px){
    .user{
        position: relative;
        top: -8px;
      }
      .destination{
        height: 85px;
        width: 108px;
        /* margin-right: 30px; */
      }
      .grid-container {
        display: grid;
        grid-template-columns: 30px 80px 80px 80px 80px;
      }
  }